{% extends "::without_sidebar.html.twig" %}

{% block full_content %}
    <a href="{{ url('contest_gallery', {slug: contest.slug}) }}"><< Retourner à la gallerie</a>
    <h1>Ajouter une Photo</h1>
    {% if error is defined and not error %}
        L'image a été envoyée !
    {% endif %}

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.file, "Image") }}
    {{ form_widget(form.file) }}
    {{ form_end(form) }}
{% endblock %}
